.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 30px;
  
}

.contact-heading {
    display: flex;
    justify-content: center;
}

.contact-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1300px;
    width: 100%;
}

.name-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: max-content;
}

.social-container {
   width: 50%;
}

.name {
    padding: 10px;
}

.name > h3 {
   margin: 0px;
}

.lg {
    font-size: 30px;
    
    padding: 10px;
}
.contact-me-container {
    width: 50%;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    padding: 1rem;
}

.form-container > input {
   height: 40px;
   margin: 5px;
   border-radius: 5px;
   border: none;
   padding-left: 15px;
   outline: none;
}
.form-container > textarea {
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    padding-left: 15px;
}
.form-container > button {
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: crimson;
    color: white;
    font-weight: 600;
    cursor: pointer;            
    width: 30%;
    max-width: 60%;
}

.reach-me {
    padding: 1rem;
}

@media (max-width: 768px)  {
 .contact-heading > h2 {
    margin: 0px;
 }

 .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
 }
 .social-container {
    width: 100%;
 }
 .contact-me-container {
    width: 100%;
 }
 .form-container > h4 {
    margin: 5px;
 }
 .form-container > button {
    width: 100%;
 }

}