.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

.about-heading > h2 {
    font-size: 30px;

}

.para-picture-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: space-around;

}
.my-image > img {
    width: 380px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.my-image > img:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.my-image {
    margin: 1rem;
    
}

.para-container {
    margin: 1rem;
    padding: 1rem;
    
}

.skill-buttons > a > button {
    background-color: crimson;
    border: none;
    color: white;
    width: 30%;
    height: 45px;
    border: 2px solid crimson;
    margin: 10px;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.skill-buttons  > a > button:hover {
     background-color: white;
     color: black;
     transition: all 0.5s ease-in-out;
}

.para-container > p {
    text-align:justify;
    word-break: break-all;
    
    
}

@media only screen and (max-width: 768px) {
    .para-picture-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .about-heading > h2 {
        margin: 0px;
    }
    .my-image > img {
        width: 280px;
    }
    .my-image {
        display: flex;
        justify-content: center;
    }
    .para-container {
        margin: 0rem;
    }
    .para-container > h2 {
        margin: 0px;
        font-size: 1.5rem;
    }
    .para-container > p {
        font-size: 0.9rem;
        text-align:justify;
        word-break: break-all;
        
        
    }
    .para-container > button {
        width: 50%;
    }
    .about-container {
        padding: 20px;
    }
}